html {
    font-family: "Century Gothic", Verdana, sans-serif;
    
}
@font-face {
    font-family: NexaLight;
    src: url("NexaLight.otf") format("opentype");
}
.header{
    width: 100%;
    text-align:center;
    line-height: .5;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family:  NCAA;
    font-size:80px;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-family:  NCAA;
    font-size:50px;
}
h3 {
    text-align: center;
    font-weight: bold;
    font-family: NCAA;
    font-size:50px;
}
svg{
    border: none;
    background-color: white;
}
.sliceLabel{
    font-family: NexaLight;
    font-weight: bold;
    font-size: 10;
}
div {
    text-align: center;
}
